body {
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    background-color: #86a361;
    color: white;
}
#searchText {
    width: 30vw;
    line-height: 20px;
    padding: 3px;
}


table {
    table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    contain: strict;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tbody tr:hover {
    background-color: #d0dbc2;
}

thead {
    background-color: #86a361;
    color: white;
}

.hidden {
    display: none;
    transition: all 0.3s ease-in;
}
.btn {
    text-align: center;
    text-decoration: none;
    margin: 2px;
    border-radius: 0;
    padding: 4px;
    cursor: pointer;
    color: #41403e;
    background-color: #e6e7e9;
    border: 0;
    font-size: 16px;
    margin-left: 2px;
    margin-right: 0;
}
.btn:hover {
    opacity: 0.5;
    cursor: pointer;
}